
/*Стили в документации: гугли "Qt Style Sheets"*/

/*QPushButton#crossImgPB
{
    background-color: red;
}

QPushButton#choiceFilePB
{
    border: 1px solid;
    border-radius: 6px;
    min-width: 90px;
    size: 20px;
/*    height: 20px;*/
    color: white;
    background-color: blue;
}*/
